.password-reset-form {
    max-width: 500px;
    margin: auto;
}

h2 {
    text-align: center;
    margin: 10px;
}

p {
    text-align: center;
}

.warning-text {
    color: red;
    font-style: italic;
}

.full {
    width: 100%;
}

a {
    text-align: center;
}