.toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.page {
    margin-top: 64px;
    height: calc(100vh - 64px);
}

.gearhead-title {
    padding: 5px;
    height: 85%;
}

.drawer-icon {
    color: white;
}

.sidenav {
    padding-top: 68px;
  }

.list-button {
    padding: 0;
    text-align: left;
    width: 100%;
}