<!-- Sign in/Register page -->

<div class="login-form">
    <h2>Login</h2>
    <form [formGroup]='loginForm'>
        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName='email' type="email">
        </mat-form-field>

        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName='password' type="password">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)='login()' class="login-button">Login</button>
    </form>
    <p class="bottom-links">
        <a [routerLink]="['forgot-password']">Forgot Password</a>
    </p>
    <p class="bottom-links">
        <a [routerLink]="['register']">Register</a>
    </p>
</div>