h3 {
    margin: 0 auto 10px auto;
}

.forgot {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.full {
    width: 100%;
}

.warning-text {
    color: red;
    font-style: italic;
}