<div class="forgot">
  <h3>Forgot Password</h3>
  <p class='warning-text'>{{message}}</p>

  <div *ngIf="!request_sent">

    <mat-form-field class="full" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" [formControl]='email' [errorStateMatcher] type="email">
      <mat-error *ngIf='email.invalid'>
        {{getErrorMessage()}}
      </mat-error>
    </mat-form-field>

    <!--[disabled]='email.invalid'-->
    <button mat-raised-button [disabled]='email.invalid || request_sent' (click)='resetPassword()' color="primary" class="full">Reset Password</button>
  </div>
  <div *ngIf='successfulRequest && request_sent'>
    <p>
      Check your email for a reset link
    </p>
    <button mat-raised-button [routerLink]="[ '/login' ]" color="primary" class="full">Login</button>
  </div>
</div>