/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    background-color: #F5F5F5;
}

.body {
    min-height: calc(100% - 64px);
}

.menu-spacer {
    flex: 1 1 auto;
}

.profile-image {
    border-radius: 20px;
    display: block;
    margin: auto !important;
    width: 50% !important;
    height: 50%;
    max-height: 200px;
    max-width: 200px;
}

.spinner {
    margin: 0 auto;
}

.warning-text {
    color: red;
    font-style: italic;
}

.warning-text-modal {
    color: red;
    font-style: italic;
    text-align: center;
    margin-bottom: 5px;
}

.green {
    background: #28a745;
    color: white;
}