<div class="register-form">
  <form [formGroup]='registerForm'>
    <h2>Register</h2>
    <p class="warning-text">You should only register if you are a member of the Waverly Robotics Team</p>
    <mat-form-field class="full" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" type="email" required>
      <mat-error>
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field class="name-left" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First" formControlName="first" required>
    </mat-form-field>

    <mat-form-field class="name-right" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last" formControlName="last" required>
    </mat-form-field>

    <mat-form-field class="full" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password" type="password" required>
      <mat-error *ngIf="registerForm.hasError('required', 'password')">
        Password must be at least 8 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm Password" formControlName="passwordConfirm" type="password"
        [errorStateMatcher]="passwordConfirmMatcher">
      <mat-error>
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <button [disabled]='registerForm.invalid' mat-raised-button color="primary" (click)='submit()' class="full">Create Account</button>
    <p>
      <a [routerLink]="['/']">Already have an account? Log in</a>
    </p>
  </form>
</div>